<div class="card-column col-lg-3 col-md-6 col-12">
    <div class="card h-100 d-flex flex-column">
        <div class="card-body d-flex flex-column">
            <div class="card-img-top">
                <img src="{{ card.icon.cache }}" alt="{{ card.title }}" style="width: 100px; height: auto;">
            </div>
            <hr />
            <h3 class="card-title">{{ card.title }}</h3>
            <p class="card-text">{{ card.text }}</p>
            {% if card.url %}
                <a  href="{{ card.url }}" class="mt-auto btn btn-light stretched-link" ><i class="fa-solid fa-globe"></i> {{ card.link_text }}</a>
            {% else %}
                <i class="fa-solid fa-hourglass"></i> {{ card.link_text }}
            {% endif %}
        </div>
    </div>
</div>