{% macro alert_box(id, alert_class, icon_class, title, text_id) %}
<div id="{{ id }}" class="alert {{ alert_class }} d-none" role="alert">
  <h5><i class="{{ icon_class }}"></i> {{ title }} </h5><span id="{{ text_id }}"></span>
</div>
{% endmacro %}

{% macro list_section(id, title, list_id) %}
<div id="{{ id }}" class="mt-4 d-none">
  <h6>{{ title }}:</h6>
  <ul class="list-group" id="{{ list_id }}"></ul>
</div>
{% endmacro %}

<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dynamicModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Warning box with Markdown -->
        {{ alert_box('dynamicModalWarning', 'alert-warning', 'fa-solid fa-triangle-exclamation', 'Warning', 'dynamicModalWarningText') }}
        
        <!-- Info box with Markdown -->
        {{ alert_box('dynamicModalInfo', 'alert-info', 'fa-solid fa-circle-info', 'Information', 'dynamicModalInfoText') }}

        <!-- Description text -->
        <div id="dynamicDescriptionText" class="mt-2 d-none"></div>

        <!-- Input box for Identifier -->
        <div id="dynamicIdentifierBox" class="input-group mt-2 d-none">
          <input type="text" id="dynamicModalContent" class="form-control" readonly>
          <button class="btn btn-outline-secondary" type="button" id="dynamicCopyButton">Copy</button>
        </div>

        <!-- Link -->
        <div id="dynamicModalLink" class="mt-3 d-none">
          <a href="#" target="_blank" class="btn btn-primary w-100" id="dynamicModalLinkHref"></a>
        </div>

        <!-- Options -->
        {{ list_section('dynamicChildrenSection', 'Options', 'dynamicChildrenList') }}

        <!-- Alternatives -->
        {{ list_section('dynamicAlternativesSection', 'Alternatives', 'dynamicAlternativesList') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeAllModals()">Close</button>
      </div>
    </div>
  </div>
</div>
