{% extends "moduls/base.html.j2" %}

{% block content %}
<div class="row">
    {% for card in cards %}
        {% set index = loop.index0 %}
        {% set lg_class = lg_classes[index] %}
        {% set md_class = md_classes[index] %}
        {% include "moduls/card.html.j2" %}
    {% endfor %}
</div>
{% endblock %}
