a {
  text-decoration: none;
  color: #000000;
}
.header img {
  float: right;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
}
.equal-height {
  display: flex;
  flex: 1;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert die Inhalte horizontal */
  text-align: center; /* Zentriert den Text */
}

.card-icon {
  display: flex;
  justify-content: center; /* Zentriert das Icon horizontal */
}

.card-text,
.card ul {
  text-align: left; /* Stellt sicher, dass der Text linksbündig ist */
}

.card{
  flex: 1; /* Stellt sicher, dass die Karten die ganze Höhe ihrer Container ausfüllen */
  border-width: 3px;
  /*border-color: #000000;*/
}

h3.card-title{
  font-size: 1.3em;
}

.card .stretched-link{
  font-size: 0.7em;
}

.card-column{
  padding-top: 12px;
  padding-bottom: 12px;
}

h3.footer-title{
  font-size: 1.3em;
}

.footer {
  margin-top: 12px;
  text-align: center;
  font-size:  0.7em;
}

.footer p, h3{
  margin: 0px;
  padding: 0px;
}

.dropdown-menu {
  position: absolute !important;
}

.dropdown-menu-footer {
  position: absolute !important;
  top: auto !important;
  bottom: 100%; /* Positioniert das Menü über dem Auslöser */
  transform: translateY(-10px); /* Optional: Sanfter Abstand */
}

.dropdown-submenu {
  position: relative;
  list-style: none;
}

.navbar, .card {
  border-radius: 5px; /* Runde Ecken */
  border: 1px solid #ccc; /* Optionale Rahmenfarbe */
  padding: 10px; /* Optionaler Abstand innen */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optionale Schatteneffekte */
  color: #000000 !important;
  background-color: #f9f9f9;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}
/* Stellt sicher, dass Submenüs korrekt positioniert sind */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%; /* Positioniert das Submenü rechts vom Hauptmenü */
  margin-top: -1px;
}

.dropdown-menu.collapse {
  display: none;
}

.dropdown-menu.collapse.show {
  display: block;
}

/* Standardmäßig sind die Submenüs ausgeblendet */
.dropdown-submenu .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  left: 100%;
  top: 0;
}

/* Beim Hover auf das Submenü-Element wird das Menü angezeigt */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  z-index: 1050;
}

/* Um sicherzustellen, dass es nicht sofort verschwindet */
.dropdown-submenu:hover > .dropdown-menu:hover {
  display: block;
  opacity: 1;
}


.dropdown-submenu > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%; /* Standardmäßig rechts ausrichten */
  margin-top: -1px;
  z-index: 1050;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.dropdown-submenu > .dropdown-menu[style*="right: 100%"] {
  left: auto; /* Überschreibt die linke Position, wenn nach links geöffnet */
}
