/* Dropdown-Menüs verstecken */
.dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: max-content !important; /* Passt die Breite an das breiteste Item an */
    box-sizing: border-box; /* Berücksichtigt Innenabstand und Rahmen */
}

/* Positionierung von Submenüs */
.dropdown-submenu > .dropdown-menu {
    position: absolute;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 0;
}
